body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1301px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:663px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:533px;
  width:1294px;
  height:663px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:214px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:913px;
  width:158px;
  height:214px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:533px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:0px;
  width:1200px;
  height:533px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:612px;
  width:122px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:583px;
  width:100px;
  height:100px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:569px;
  width:122px;
  height:36px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:615px;
  width:122px;
  height:36px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:661px;
  width:122px;
  height:36px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:633px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-50px;
  width:8px;
  height:54px;
}
#u92_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-50px;
  width:171px;
  height:8px;
}
#u92_seg3 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-55px;
  width:18px;
  height:18px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:633px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:252px;
  height:8px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-9px;
  width:18px;
  height:18px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:633px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-4px;
  width:8px;
  height:54px;
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:42px;
  width:170px;
  height:8px;
}
#u94_seg3 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:37px;
  width:18px;
  height:18px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:51px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:579px;
  width:67px;
  height:17px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:625px;
  width:67px;
  height:17px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:671px;
  width:67px;
  height:17px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:789px;
  width:91px;
  height:36px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:49px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:782px;
  width:91px;
  height:49px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:87px;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:743px;
  width:148px;
  height:36px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:835px;
  width:148px;
  height:36px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:807px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-9px;
  width:18px;
  height:18px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:782px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-25px;
  width:8px;
  height:25px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-25px;
  width:99px;
  height:8px;
}
#u103_seg2 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-30px;
  width:18px;
  height:18px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-30px;
  width:100px;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:831px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:18px;
  width:99px;
  height:8px;
}
#u104_seg2 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:13px;
  width:18px;
  height:18px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:633px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u105_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u105_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:18px;
  height:18px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:552px;
  width:141px;
  height:17px;
  color:#FF0000;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:786px;
  width:122px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:757px;
  width:100px;
  height:100px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:807px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u109_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u109_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:18px;
  height:18px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:743px;
  width:122px;
  height:36px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:789px;
  width:122px;
  height:36px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:835px;
  width:122px;
  height:36px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:807px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u113_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u113_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-50px;
  width:8px;
  height:54px;
}
#u113_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-50px;
  width:162px;
  height:8px;
}
#u113_seg3 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-55px;
  width:18px;
  height:18px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:807px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u114_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:252px;
  height:8px;
}
#u114_seg1 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-9px;
  width:18px;
  height:18px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:807px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u115_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u115_seg1 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-4px;
  width:8px;
  height:54px;
}
#u115_seg2 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:42px;
  width:160px;
  height:8px;
}
#u115_seg3 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:37px;
  width:18px;
  height:18px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:51px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:753px;
  width:85px;
  height:17px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:799px;
  width:85px;
  height:17px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:845px;
  width:85px;
  height:17px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:936px;
  width:122px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1004px;
  width:122px;
  height:42px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1068px;
  width:122px;
  height:42px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:970px;
  width:100px;
  height:100px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:1020px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u123_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-9px;
  width:18px;
  height:18px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:978px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u124_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u124_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:18px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1046px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:10px;
  width:18px;
  height:18px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:1002px;
  width:122px;
  height:36px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1020px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#333333;
}
#u127_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:241px;
  height:8px;
}
#u127_seg1 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:-9px;
  width:18px;
  height:18px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:807px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u128_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:141px;
  height:8px;
}
#u128_seg1 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-9px;
  width:18px;
  height:18px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:853px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u129_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u129_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-50px;
  width:8px;
  height:54px;
}
#u129_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-50px;
  width:68px;
  height:8px;
}
#u129_seg3 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-55px;
  width:18px;
  height:18px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:761px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u130_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u130_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-4px;
  width:8px;
  height:54px;
}
#u130_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:42px;
  width:67px;
  height:8px;
}
#u130_seg3 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:37px;
  width:18px;
  height:18px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:871px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u131_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u131_seg1 {
  border-width:0px;
  position:absolute;
  left:-308px;
  top:38px;
  width:312px;
  height:8px;
}
#u131_seg2 {
  border-width:0px;
  position:absolute;
  left:-308px;
  top:-46px;
  width:8px;
  height:92px;
}
#u131_seg3 {
  border-width:0px;
  position:absolute;
  left:-313px;
  top:-52px;
  width:18px;
  height:18px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:-225px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1020px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u132_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:198px;
  height:8px;
}
#u132_seg1 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:-195px;
  width:8px;
  height:199px;
}
#u132_seg2 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-201px;
  width:18px;
  height:18px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:587px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u133_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:187px;
  height:8px;
}
#u133_seg1 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:-4px;
  width:8px;
  height:206px;
}
#u133_seg2 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:190px;
  width:18px;
  height:18px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:133px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:633px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:187px;
  height:8px;
}
#u134_seg1 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:-4px;
  width:8px;
  height:160px;
}
#u134_seg2 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:144px;
  width:18px;
  height:18px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:679px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u135_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:187px;
  height:8px;
}
#u135_seg1 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:-4px;
  width:8px;
  height:112px;
}
#u135_seg2 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:96px;
  width:18px;
  height:18px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:711px;
  width:141px;
  height:17px;
  color:#FF0000;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:552px;
  width:323px;
  height:17px;
  color:#FF0000;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
