body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:977px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:898px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:217px;
  width:603px;
  height:898px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:898px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:374px;
  height:898px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:396px;
  width:120px;
  height:44px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:287px;
  width:120px;
  height:30px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:317px;
  width:0px;
  height:0px;
}
#u4_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u4_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:67px;
  width:18px;
  height:18px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:73px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:508px;
  width:120px;
  height:73px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:632px;
  width:120px;
  height:44px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:440px;
  width:0px;
  height:0px;
}
#u7_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u7_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:18px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:280px;
  width:120px;
  height:44px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:73px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:383px;
  width:120px;
  height:73px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:73px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:707px;
  width:120px;
  height:73px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:837px;
  width:120px;
  height:44px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:73px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:942px;
  width:120px;
  height:73px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:324px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:18px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:780px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:18px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:881px;
  width:0px;
  height:0px;
}
#u15_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u15_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:49px;
  width:18px;
  height:18px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:1057px;
  width:120px;
  height:44px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:1079px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-104px;
  width:8px;
  height:108px;
}
#u17_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-104px;
  width:61px;
  height:8px;
}
#u17_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-109px;
  width:18px;
  height:18px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:1015px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:18px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:73px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:383px;
  width:120px;
  height:73px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:420px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:280px;
  width:120px;
  height:44px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:302px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-4px;
  width:116px;
  height:8px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-9px;
  width:18px;
  height:18px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:383px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-59px;
  width:8px;
  height:63px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-65px;
  width:18px;
  height:18px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-39px;
  width:100px;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:336px;
  width:48px;
  height:20px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:581px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:18px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:523px;
  width:120px;
  height:44px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:523px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-52px;
  width:8px;
  height:52px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-52px;
  width:189px;
  height:8px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:-52px;
  width:8px;
  height:37px;
}
#u27_seg3 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:-27px;
  width:18px;
  height:18px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:545px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:-4px;
  width:65px;
  height:8px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-9px;
  width:18px;
  height:18px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:654px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-356px;
  width:8px;
  height:360px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-356px;
  width:133px;
  height:8px;
}
#u29_seg3 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-361px;
  width:18px;
  height:18px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-218px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:233px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:233px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:73px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:508px;
  width:120px;
  height:73px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:456px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:604px;
  width:78px;
  height:44px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:604px;
  width:78px;
  height:44px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:545px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-4px;
  width:55px;
  height:8px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-4px;
  width:8px;
  height:63px;
}
#u36_seg2 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:47px;
  width:18px;
  height:18px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:545px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-4px;
  width:8px;
  height:63px;
}
#u37_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:47px;
  width:18px;
  height:18px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:626px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-210px;
  width:8px;
  height:214px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-210px;
  width:116px;
  height:8px;
}
#u38_seg3 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-215px;
  width:18px;
  height:18px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-156px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:648px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:24px;
  width:119px;
  height:8px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:24px;
  width:8px;
  height:35px;
}
#u39_seg3 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:47px;
  width:18px;
  height:18px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:648px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:25px;
  width:119px;
  height:8px;
}
#u40_seg2 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:25px;
  width:8px;
  height:35px;
}
#u40_seg3 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:47px;
  width:18px;
  height:18px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:979px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-4px;
  width:254px;
  height:8px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-303px;
  width:8px;
  height:307px;
}
#u41_seg2 {
  border-width:0px;
  position:absolute;
  left:-259px;
  top:-309px;
  width:18px;
  height:18px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:-36px;
  width:100px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:523px;
  width:120px;
  height:44px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:456px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:18px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:722px;
  width:120px;
  height:44px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:744px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-9px;
  width:18px;
  height:18px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:977px;
  height:212px;
  font-size:14px;
  text-align:left;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:973px;
  word-wrap:break-word;
}
